body
{
	font-family: sans-serif;
	
}

h1
{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 50px;
}
section
{
	margin-bottom: 50px;
}
nav ul 
{
	list-style: none;
	margin: 0;
	padding: 5px;
	width: 730px;
	overflow: hidden;
	margin: 0 auto;

}

nav ul li
{
	float: left;
	font-family: sans-serif;
	margin-right: 20px;
	margin-bottom: 5px;

}

nav ul li a 
{
	display: block;
	color:brown;
	text-decoration: none;
	border-bottom: 3px solid brown;
	padding: 10px;
	font-size: 20px;

	
}

nav ul li a:hover
{
	
	color: orange;
	border-bottom: 3px solid orange;
}
.current
{
	color: orange;
	border-bottom: 3px solid orange;
}

.screenmobile
{
	width: 320px;
	height: 480px;
	border: 1px solid black;
	background: white;
	margin: 0 auto;
	overflow: hidden;
}
.container
{
	margin: 0 auto;
	width: 900px;
	position: relative;
}
h1
{
	position: relative;
	top: 20px;
	left: 230px;
	margin-bottom: 60px;
	margin-top: 20px;
}
p
{
	position: relative;
	left: 230px;
	width: 450px;
	margin-bottom: 50px;

}
	.section__nav{
		position: relative;
		width: 270px;
		height: 480px;
		top: 0;
		left: 0;
		background: #BADA55;
		z-index: 10;
		padding: 0;
		list-style: none;
	
		
		-webkit-transform: translateX(-100%);
	}
	.section__nav.nav--transition{
		transition: all 300ms ease-out;

	}
		.btn--openmenu
	{
		position: absolute;
		right: -50px;
		width: 50px;
		height: 30px;
		background: #BADA55;
		border: none;
	}
	.nav__el{
		display: block;
	}
	.nav__el > a{
		
		display: block;
	}
	.nav{
		text-align: left;
		margin: 0;
	}

	.section__nav.nav--open{
		

		 -webkit-animation: navopen 1s;
		 -webkit-animation-fill-mode:forwards;
		 transition: all 300ms linear;
	}

	.section{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		transition: all .3s;
		-webkit-transform: translateX(100%);

		overflow-y: scroll;
		-webkit-overflow-scrolling: touch; 
	}
	.section:target{
		-webkit-transform: translateX(0);
	}
	.section:first-of-type {
		-webkit-transform: translateX(0);
	}

@-webkit-keyframes navopen {
    0%   {-webkit-transform: translateX(-270px);}
    85%  {-webkit-transform: translateX( 4px);}
    90%  {-webkit-transform: translateX(0px);}
    95%  {-webkit-transform: translateX(4px);}
    100% {-webkit-transform: translateX(0);}
}

:target
{
	
	background: #595758;
}

.log
{
	background: red;
	width: 186px;
	height: 170px;
	position: absolute;
	top: -100%;
	left: 30%;
	
}

nav:target li a + .log
{
	background: blue;
	color: white;
	display: visible;
	position: absolute;
	top: -60%;
	left: 15%;
	-webkit-animation: loginfosdown 1.6s;
	-webkit-animation-fill-mode:forwards;
	transition: all 300ms ease-in;

}

@-webkit-keyframes loginfosdown {
    0%   {-webkit-transform: translateY(0px) rotate(-10deg);}
    50%  {-webkit-transform: translateY( 410px) ;}
    75%  {-webkit-transform: translateY( 400px) rotate(0deg);}
    100%  {-webkit-transform: translateY(405px);}
  
}


/* inspi : http://capptivate.co/2014/11/23/rooms-3/ */