body
{
	font-family: sans-serif;
}
nav ul 
{
	list-style: none;
	margin: 0;
	padding: 5px;
	width: 730px;
	overflow: hidden;
	margin: 0 auto;

}

nav ul li
{
	float: left;
	font-family: sans-serif;
	margin-right: 20px;
	margin-bottom: 5px;

}

nav ul li a 
{
	display: block;
	color:brown;
	text-decoration: none;
	border-bottom: 3px solid brown;
	padding: 10px;
	font-size: 20px;

	
}

nav ul li a:hover
{
	
	color: orange;
	border-bottom: 3px solid orange;
}
.current
{
	color: orange;
	border-bottom: 3px solid orange;
}
.screenmobile
{
	width: 320px;
	height: 480px;
	border: 1px solid black;
	background: white;
	margin: 0 auto;
}
.container
{
	margin: 0 auto;
	width: 900px;
	position: relative;
}
h1
{
	position: relative;
	top: 20px;
	left: 230px;
	margin-bottom: 60px;
	margin-top: 20px;
}
p
{
	position: relative;
	left: 230px;
	width: 450px;
	margin-bottom: 50px;

}



/* btn */
.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
	margin: 25px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	background-color: #000;
	display: block;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}
/* --- btn --- */

/* examples */


/* example 5 */
.example5 span {
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: .2s;
}
.example5_cross span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: .2s;
}
.example5 span:before {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.example5_cross  span:before {
	margin-top: 0;
	-webkit-transform: rotate(135deg);
	-webkit-transition-delay: 0, .2s;
}
.example5 span:after {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.example5_cross span:after {
	margin-top: 0;
	-webkit-transform: rotate(45deg);
	-webkit-transition-delay: 0, .2s;
}